.logo2{
    font-size: 1.5rem;
    color:#27ae60;
}
.logo1{
    text-decoration: underline double;
    padding-left: 5px;
    font-size: 1.5rem;
}
.logo{
    border-top: solid black 1px;
    width: 50px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}
.dropdown:hover>.dropdown-menu{
    display:block;
}
.dropdown-menu{
    width: 100px;
    list-style: none;

    width: 10;
    height:2;
    border: solid black 1px;
}


