.icon1{
    color: #1B9CFC;
    font-size:1.5rem;
}
.icon2{
    color: #FEA47F;
    font-size:1.5rem;
}
.icon3{
    color: #25CCF7;
    font-size:1.5rem;
}
.icon4{
    color: #eb2f06;
    font-size:1.5rem;
}
.icon5{
    color: #ff5e57;
    font-size:1.5rem;
}
.icon6{
    color:#55efc4;
    font-size:1.5rem;
}